@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #505f98;
  --secondary-text-color: #6f7cb2;
  --third-text-color: #929ecc;
  --accent-text-color: #222f65;
  --title-color: #091133;
  --info-text-color: #5d6970;
  --primary-button-bgcolor: #111b47;
  --secondary-button-bgcolor: #ffd166;
  --primary-button-text-color: #ffffff;
  --secondary-button-text-color: #091133;
  --primary-button-bgcolor-hover: #ffffff;
  --secondary-button-bgcolor-hover: #ffba52;

  --content-padding: 0;
  --content-width: 1110px;

  --background-color: rgba(231,236,255, .5);
  --main-color: #e7ecff;
  --secondary-color: #bac3e5;
  --third-color: #939ea4;


  --page-title-font-size: 50px;
  --title-font-size: 36px;
}

html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  font: 400 14px 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width: 1110px) {
  :root {
    --content-width: 100%;
    --content-padding: 70px;
  }
}

@media(max-width: 1024px) {
  :root {
    --page-title-font-size: 42px;
  }
}

@media(max-width: 768px) {
  :root {
    --content-padding: 30px;
  }
}

@media(max-width: 520px) {
  :root {
    --content-padding: 16px;
    --page-title-font-size: 32px;
    --title-font-size: 28px;
  }
}